*, * > * {
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0; }

body {
  min-height: 100vh; }

main .container {
  display: flex;
  align-items: center; }
  main .container .left_seccion {
    min-height: 100vh;
    width: 40%;
    background-image: url(./images/bg-main-desktop.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
    main .container .left_seccion .card {
      position: absolute;
      top: 50%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      left: 100%;
      transform: translate(-50%, -50%); }
      main .container .left_seccion .card .front_card {
        position: relative;
        transform: translateX(-100px); }
      main .container .left_seccion .card .card_logo {
        position: absolute;
        top: 1rem;
        left: 1rem; }
      main .container .left_seccion .card #number {
        position: absolute;
        color: #fff;
        bottom: 5rem;
        left: 1rem;
        letter-spacing: .125rem; }
      main .container .left_seccion .card .card_info {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
        right: 3rem;
        display: flex;
        color: #fff;
        justify-content: space-between; }
      main .container .left_seccion .card .back_card {
        position: relative; }
        main .container .left_seccion .card .back_card #cvc {
          position: absolute;
          top: 7rem;
          right: 3.5rem;
          color: #dedddf; }
  main .container .hidden {
    display: none !important; }
  main .container .error {
    border: 2px solid #cf3e1f; }
  main .container .error_massage {
    gap: 0; }
  main .container .error_massage::after {
    content: "can't be blank";
    color: #cf3e1f;
    margin-top: .2rem; }
  main .container .right_seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    main .container .right_seccion form {
      display: grid;
      gap: 1rem;
      width: 350px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr); }
      main .container .right_seccion form label {
        color: #21092f;
        margin-bottom: .3rem;
        text-transform: uppercase; }
      main .container .right_seccion form input {
        padding: .5rem;
        font-size: 18px;
        border: 1px solid #8e8593;
        border-radius: 6px; }
      main .container .right_seccion form input::-webkit-outer-spin-button,
      main .container .right_seccion form input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      main .container .right_seccion form input::placeholder {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #8e8593; }
      main .container .right_seccion form input:focus {
        outline-color: #6448fe; }
      main .container .right_seccion form .grid_1 {
        display: flex;
        flex-direction: column;
        grid-column: 2 span; }
      main .container .right_seccion form .grid_2 {
        display: flex;
        flex-direction: column;
        grid-column: 2 span; }
      main .container .right_seccion form .grid_3 {
        display: flex;
        flex-direction: column; }
      main .container .right_seccion form .grid_4 {
        display: flex;
        flex-direction: column;
        grid-column: 1 span; }
      main .container .right_seccion form .card_information {
        display: flex;
        grid-column: 2 span;
        gap: 1rem; }
        main .container .right_seccion form .card_information #card_date {
          display: flex;
          flex-direction: column;
          grid-column: 1 span; }
          main .container .right_seccion form .card_information #card_date .two_inp {
            display: flex; }
            main .container .right_seccion form .card_information #card_date .two_inp div {
              flex-direction: column; }
              main .container .right_seccion form .card_information #card_date .two_inp div input {
                width: 70px;
                margin-inline: .5rem;
                margin-left: 0; }
        main .container .right_seccion form .card_information #card_cvc {
          width: 90%; }
      main .container .right_seccion form button {
        grid-column: 2 span;
        font-size: 18px;
        height: 50px;
        color: #fff;
        border-radius: 6px;
        background-color: #21092f;
        cursor: pointer; }
  main .container .thank {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; }
    main .container .thank h1 {
      text-transform: uppercase;
      letter-spacing: 3px; }
    main .container .thank p {
      font-size: 18px;
      color: #8e8593; }
    main .container .thank button {
      color: white;
      width: 100%;
      border-radius: 6px;
      padding: 1rem;
      font-size: 18px;
      background-color: #21092f;
      cursor: pointer; }

@media screen and (max-width: 1023px) {
  .front_card img {
    width: 300px; }
  .front_card .card_container #number {
    font-size: 1.1rem; }
  .front_card .card_container .card_logo {
    width: 50px; }
  .back_card img {
    width: 300px; }
  .back_card #cvc {
    top: 42%;
    right: 12%; } }

@media screen and (max-width: 767px) {
  main .container {
    flex-direction: column; }
    main .container .left_seccion {
      width: 100%;
      min-height: 30vh;
      background-image: url(/images/bg-main-mobile.png); }
      main .container .left_seccion .card {
        flex-direction: column-reverse;
        left: 61%;
        top: 60%;
        gap: 0; }
        main .container .left_seccion .card .front_card {
          z-index: 100; }
          main .container .left_seccion .card .front_card img {
            width: 280px; }
          main .container .left_seccion .card .front_card .card_container #number {
            font-size: 1.1rem; }
          main .container .left_seccion .card .front_card .card_container .card_logo {
            width: 50px; }
        main .container .left_seccion .card .back_card {
          transform: translateY(70px); }
          main .container .left_seccion .card .back_card img {
            width: 280px; }
          main .container .left_seccion .card .back_card #cvc {
            top: 42%;
            right: 12%; }
    main .container .right_seccion {
      margin-top: 6rem; } }
