main{
    .container{
        display: flex;
        align-items: center;
        .left_seccion{
            min-height: 100vh;
            width: 40%;
            background-image: url(../images/bg-main-desktop.png);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .card{
                position: absolute;
                top: 50%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                left: 100%;
                transform: translate(-50%, -50%);
                .front_card{
                    position: relative;
                    transform: translateX(-100px);
                }
                .card_logo{
                    position: absolute;
                    top: 1rem;
                    left:1rem;
                }
                #number{
                    position:absolute;
                    color: $white;
                    bottom: 5rem;
                    left: 1rem;
                    letter-spacing: .125rem;
                }
                .card_info{
                    position: absolute;
                    bottom: 2rem;
                    left: 1rem;
                    right: 3rem; 
                    display: flex;
                    color: $white;
                    justify-content: space-between;
                }
                .back_card{
                    position: relative;

                
                #cvc{
                    position: absolute;
                    top:7rem ;
                    right: 3.5rem;
                    color: $light-grayish_violet;
                }
                }
            }
        }
        .hidden{
            display: none !important;
        }
        .error{
            border: 2px solid $red;
        }
        .error_massage{
            gap: 0;
        }
        .error_massage::after{
            content: "can't be blank";
            color: $red;
            margin-top: .2rem;
        }
    .right_seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    form{
        display: grid;
        gap: 1rem;
        width: 350px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);

        label{
            color: $very-dark-grayish_violet;
            margin-bottom: .3rem;
            text-transform: uppercase;
        }
        input{
            padding: .5rem;
            font-size: 18px;
            border: 1px solid $Dark-grayish_violet;
            border-radius: 6px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        input::placeholder{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: $Dark-grayish_violet;
        }
        input:focus{
            outline-color: hsl(249,99%,64%);
        }
    
    .grid_1{
        display: flex;
        flex-direction: column;
        grid-column: 2 span;
    }
    .grid_2{
        display: flex;
        flex-direction: column;
        grid-column: 2 span;
    }
    .grid_3{
        display: flex;
        flex-direction: column;
    }
    .grid_4{
        display: flex;
        flex-direction: column;
        grid-column: 1 span;
    }
    .card_information{
        display: flex;
        grid-column: 2 span;
        gap: 1rem;
   
    #card_date{
        display: flex;
        flex-direction: column;
        grid-column: 1 span;

        .two_inp{
            display: flex;
            div{
                flex-direction: column;
                input{
                    width: 70px;
                    margin-inline: .5rem;
                    margin-left: 0;
                }
            }
        }
    }
    #card_cvc{
        width: 90%;
    }
}
button{
    grid-column: 2 span;
    font-size: 18px;
    height: 50px;
    color: $white;
    border-radius: 6px;
    background-color: $very-dark-grayish_violet;
    cursor: pointer;
        }
    }
}
.thank{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1{
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    p{
        font-size: 18px;
        color: $Dark-grayish_violet;
    }
    button{
        color: white;
        width: 100%;
        border-radius: 6px;
        padding: 1rem;
        font-size: 18px;
        background-color: $very-dark-grayish_violet;
        cursor: pointer;
    }
}
    }
}