@media screen and (max-width:1023px) {
    .front_card{
        img{
            width: 300px;
        }
        .card_container{
            #number{
                font-size: 1.1rem;
            }
            .card_logo{
                width: 50px;
            }
        }
    }
    .back_card{
        img{
            width: 300px;
        }  
        #cvc{
                top: 42%;
                right: 12%;
            }
    }
    
}
